p{
	width: 70%;
	margin: 5px auto;
	padding: 16px;
	background-color: #441957;
	color: whitesmoke;
	font-family: sans-serif;
}

h1{
	text-align: center;
	background-color: black;
	color: whitesmoke;
	font-family: sans-serif;
	padding: 20px;
}

.clase{
	background-color: #7fb0e0;
}